{% extends "base/index.html" %}

{% block main %}

    <div class="container">
        <section class="row">
            <h1>Listar Productos</h1>
            <a href="/producto/agregar/" class="waves-effect waves-teal btn-flat">Agrega un producto</a>
        </section>  
    </div>

    <section class="container">
        {% if productos %}
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Fecha Creación</th>
                        <th>Stock</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr id="{{producto.id}}">
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.precio}}</td>
                        <td>{{producto.fecha_creacion}}</td>
                        <td>{{producto.stock}}</td>
                        <td>
                            <a href="/producto/editar/{{ producto.id }}" class="btn-floating btn-small waves-effect waves-light yellow">
                                <i class="material-icons">edit</i>
                            </a>
                            <a href="/producto/eliminar/ {{ producto.id }}"
                                onClick="return confirm('¿Seguro que quieres borrar a {{producto.nombre}}?')"
                                class="btn-floating btn-small waves-effect waves-light red">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="container"><p>no hay productos :(</p></div>
        {% endif %}
    </section>

{% endblock main %}